
body,
html {
  height: 100%; 
  width:100%;
  overflow: hidden;
  background-image: url(frogger-images/frogger-background.png);
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.leftBox {
  color: black;
  position: absolute;
  width:30%;
  height: 100%;
  position: left, center, inline;
  background-image: url(frogger-images/leftArrow.png);
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
}

.rightBox {
  color: black;
  position: absolute;
  width:30%;
  height: 100%;
  position: right, center, inline;
  background-image: url(frogger-images/rightArrow.png);
  background-size:20%;
  background-position: center;
  background-repeat: no-repeat;
}

.topBox {
  color: black;
  position: absolute;
  width:100%;
  height: 30%;
  position: block, center, top;
  background-image: url(frogger-images/upArrow.png);
  background-size: 5%;
  background-position: center;
  background-repeat: no-repeat;
}

.bottomBox {
  color: black;
  position: absolute;
  width:100%;
  height: 30%;
  position: block, center, bottom;
  background-image: url(frogger-images/downArrow.png);
  background-size: 5%;
  background-position: center;
  background-repeat: no-repeat;
}

.frog {
  display: block;
  position: absolute;
  background-image: url(frogger-images/frogger-frog.png);
  width: 80px;
  height: 60px;
  margin: 0 auto;
  display: run-in;
  position: absolute;
  background-image: url(frogger-images/frogger-frog.png);
  width: 80px;
  height: 60px;
  margin: 0 auto;
  }

.car {
  position: absolute;
  background-image: url(frogger-images/frogger-car.png);
  width: 5.5em;
  height: 4em;
  margin: 0 auto;
  
 
}
.bus{
  position: absolute;
  background-image: url(frogger-images/frogger-bus.png);
  width: 12.5em;
  height: 8em;
  margin: 0 auto;
}

.carBlue {
  position: absolute;
  background-image: url(frogger-images/frogger-car-blue.png);
  width: 5.4em;
  height: 4em;
  margin: 0 auto;
}


