
body,
html {
  
  margin: 0 auto;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
   background-image: url(frogger-images/frogger-background.png);
   background-size: cover;
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: crisp-edges;
   background-position:center center;
}
.leftBox {
  color: black;
  position: fixed;
  width:30%;
  height: 100%;
  position: left, inline
}

.rightBox {
  color: black;
  position: fixed;
  width:30%;
  height: 100%;
  position: right, inline
}

.topBox {
  color: black;
  position: fixed;
  width:100%;
  height: 30%;
  position: block, center, top
}

.bottomBox {
  color: black;
  position: fixed;
  width:100%;
  height: 30%;
  position: bottom, center
}

.frog {
  position: absolute;
  background-image: url(frogger-images/frogger-frog.png);
  width: 80px;
  height: 60px;
  margin: auto;
 

}
  


.car {
  position: absolute;
  background-image: url(frogger-images/frogger-car.png);
  width: 90px;
  height: 70px;
 
}
.bus{
  position: absolute;
  background-image: url(frogger-images/frogger-bus.png);
  width: 200px;
  height: 150px;
}

.carBlue {
  position: absolute;
  background-image: url(frogger-images/frogger-car-blue.png);
  width: 90px;
  height: 70px;
}


