
body,
html {
  
  width: 100%;
  height: 100%;
  margin: 0;
   background-image: url(frogger-images/frogger-background.png);
   background-size: cover;
   position: relative;
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: crisp-edges;
   overflow: hidden;
   background-position:center;
}


.frog {
  position: absolute;
  background-image: url(frogger-images/frogger-frog.png);
  width: 80px;
  height: 60px;

  
  /* GIVE THE LEFT AND TOP POSITION OF DUCK HAVE A TRANSITION EFFECT
  ONLY NEEDED CHANGE IN THIS FILE!! */
  
}
/* .frog {
  background-position: -100px -160px;
} */


.car {
  position: absolute;
  background-image: url(frogger-images/frogger-car.png);
  width: 90px;
  height: 60px;
  /* transition:3s linear; */
  transform: translateX(600px);

}